<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
<head>
    <title>Services</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to services page</h1>
        <h2>services offered by SCM</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas illo facere magni, ad impedit adipisci quod tenetur rerum libero suscipit eveniet facilis molestiae commodi voluptates a excepturi accusamus, ab mollitia.
    </section>
   
</body>
</html>